accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bitsandbytes
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
curl_cffi
cycler
datasets
debugpy
decorator
defusedxml
dill
distro
duckduckgo_search
executing
fastapi
fastjsonschema
filelock
Flask
flask-cors
fonttools
fpdf2
fqdn
frozendict
frozenlist
fsspec
git-filter-repo
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
litellm
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
monai
mplfinance
mpmath
multidict
multiprocess
multitasking
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
newsapi-python
nibabel
nltk
notebook
notebook_shim
numpy
oauthlib
openai
overrides
packaging
pandas
pandas_ta
pandocfilters
parso
peewee
peft
pillow
platformdirs
plyer
primp
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
python-json-logger
pytz
pyzmq
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
setuptools
simpleitk
six
smmap
sniffio
soupsieve
stack-data
starlette
streamlit
sympy
TA-Lib
tenacity
terminado
textblob
threadpoolctl
tiktoken
timezonefinderL
tinycss2
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
xgboost
xxhash
yarl
yfinance
zipp
gunicorn
flask-sqlalchemy
psycopg2-binary
mlflow
hydra-core
optuna
wandb
